// 用于后端接口自动生成


export default {
  schemaPath:  "http://localhost:8080/v3/api-docs/default",
  // 生成文件夹路径
  serversPath: "./src/request",
  requestImportStatement: 'import {request} from "@/request/request.ts"',
};
